<h1 class="animated fadeIn">Heroes <small>Marvel & DC</small></h1>
<hr>
<div class="card-columns animated fadeIn ">
    <div class="card border-dark" *ngFor="let heroe of heroes; let i = index">
        <img [src]="heroe.img" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ heroe.nombre }}</h5>
            <p class="card-text">{{ heroe.bio }}</p>
            <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>
            <button (click)="verHeroe(i)" type="button" class="btn btn-outline-success btn-block btn-lg">Ver mas...</button>
            <!-- <a [routerLink]="[ '/heroe',i]" class="btn btn-outline-info btn-block btn-lg">Ver más link...</a> -->
        </div>
    </div>
</div>